body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, red, blue, white);
  height: 100vh;
}
.button {
  padding: 15px 25px;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
}
.button:active {
  opacity: 0.7;
  color: red;
}
#third {
  width: 105px;
}

.divNum1,
.divNum2,
.divNum3 {
  color: white;
  position: relative;
  top: 200px;
  left: 650px;
  width: 400px;
  height: 400px;
  border: 2px solid red;
  z-index: 10;
  margin: 0;
}
.x-button {
  padding: 2 2px;
  float: right;
  border: none;
}
.x-button:active {
  opacity: 0.7;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
